.ul-router {
    display: flex;
    flex-direction: row;
}

.li-router {
    list-style-type: none;
    padding: 5px;
    text-align: center;
}

a:visited {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}