.ul-router {
    display: flex;
    flex-direction: row;
}

.li-router {
    list-style-type: none;
    padding: 5px;
    text-align: center;
}

a:visited {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}